body {
  background-color: #ddeedf;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #5c715e;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  text-align: center;
  font-size: 36px;
  line-height: 1.5;
  color: #77628c;
  opacity: 0.8;
}
#special-font {
  font-family: "Satisfy", cursive;
  opacity: 0.6;
}

h3 {
  font-family: "Reenie Beanie", cursive;
  background-color: #77628c;
  color: #f2f9f1;
  font-size: 20px;
  margin-left: 380px;
  width: 25%;
  padding: 5px;
  border-radius: 10px;
  transform: rotateZ(355deg);
}

.form-container {
  background-color: #f2f9f1;
  margin-bottom: 30px;
  padding: 15px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid #b6cdbd;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #7f7995;
}

.button {
  margin-left: 10px;
  background-color: #b6cdbd;
  color: #5c715e;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.hint {
  line-height: 1.5;
  font-size: 11px;
  margin-top: 5px;
  opacity: 0.6;
}

.output {
  font-size: 14px;
  background-color: #f2f9f1;
  color: #5c715e;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #77628c;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hidden {
  display: none;
}

.spin {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -15px auto;
  font-size: 22px;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
